@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@font-face {
    font-family: Frankfurt;
    src: url("../fonts/frankfrt-titulo.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e1f5fe;
}

header {
    color: #131a1d;
    background-color: #01579b;
    font-family: Frankfurt, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 3vw;
    text-align: center;
    border: 0.3vw solid#131a1d;
    margin: 2vw;
    border-radius: 2vw / 2vw;
}

.contenedor {
    background-color: #01579b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 2vw;
    margin-top: 0;
    padding: 3vw;
    border: 0.3vw solid #131a1d;
    border-radius: 2vw / 2vw;
}

.div-main {
    margin: 2vw;
    margin-bottom: 0;
    padding: 3vw;
    padding-bottom: 0;
    text-align: right;
    
}

.main {
    color: #131a1d;
    font-family: fantasy, Arial, Helvetica, sans-serif;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: center;
}




.section1 {
    background-color: white;
    margin: 3vw;
    padding: 1vw;
    display: flex;
    align-self: self-end;
}


.titulo {
    display: flex;
    justify-content: flex-end;
    font-size: medium;
    color: #ad1457;
    font-family: fantasy, Helvetica, sans-serif;
}

.img {
    width: 100%;
    padding-top: 1vw;
}

.parrafos {
    color: #880e4f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    padding-top: 1vw;
}

.section2 {

    background-color: white;
    margin: 3vw;
    padding: 1vw;
    display: flex;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
    padding: 2vw;
}

.boton {
    background-color: green;
    border: 1px solid black;
    padding: 1vw;
    border-radius: 1vw /1vw;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.boton:hover {
    background-color: #e91e63;
}

a:visited {
    color: #f8bbd0;
}

.boton:active {
    background-color: black;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #ad1457;
    margin: 3vw;
    padding: 1vw;
}